<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Configuração da conexão com o Banco PostgreSQL e dialeto -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/osbiblio</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="generate_statistics">true</property>
		<property name="use_sql_coments">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
                <mapping class="fvsosp.usuario.Usuario"/>
                <mapping class="fvsosp.autor.Autor"/>
                <mapping class="fvsosp.sessao.Sessao"/>
                <mapping class="fvsosp.cidade.Cidade"/>
                <mapping class="fvsosp.biblioteca.Biblioteca"/>
                <mapping class="fvsosp.idioma.Idioma"/>
                <mapping class="fvsosp.emprestimo.Emprestimo"/>
                <mapping class="fvsosp.palavraschaves.PalavrasChaves"/>
                <mapping class="fvsosp.acervo.Acervo"/>
                <mapping class="fvsosp.tipoitem.TipoItem"/>
                <mapping class="fvsosp.editora.Editora"/>
                <mapping class="fvsosp.leitor.Leitor"/>
                <mapping class="fvsosp.grupoleitores.GruposLeitores"/>
                <mapping class="fvsosp.exemplar.Exemplar"/>
                <mapping class="fvsosp.exemplaremprestimos.ExemplarEmprestimos"/>
        </session-factory>
</hibernate-configuration>

